//== Page
//

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


//== Header
//

.header {
	color: $white;
	padding: map-get($spacers, 3) 0;
	background-color: $primary;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);

	h1 {
		font-size: $h3-font-size;
	}
}


//== Content
//

.main {
	margin-top: map-get($spacers, 4);
	flex-grow: 1;
}


//== Footer
//

.footer {
	color: $white;
	background-color: $gray-dark;
	padding: map-get($spacers, 2) 0;

	a {
		color: $orange;
	}
}