//== Fonts
//

$font-family-base:									'Quicksand', sans-serif;
$headings-font-weight:							400;
$font-weight-bolder:								500;


//== Colors
//

$selection-color:										#fff;
$selection-bg-color:								#000;